{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<a href="authorise-payment-1" class="govuk-back-link">Back</a>

  <div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="case-header">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ123456
  </h1>
<strong class="govuk-tag">AUTHORISE SINGLE PAYMENT</strong>
<hr>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-fieldset__heading">
      Why did you not authorise this payment?
    </h2>
  </legend>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">

    <span id="waste-hint" class="govuk-hint">
      Select all that apply
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
          Rate wrong
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
        Single payment amount wrong
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Authoriser wrong
        </label>
      </div>
    </div>
  </fieldset>
</div>



  </fieldset>
</div>

<a href="authorise-payment-no-2" id="nextpagelink">
  <button class="govuk-button">Continue</button>
</a>

</form>
</div>

      </div>

    </main>
  </div>

  <script type="text/javascript">
  function routeYes() {
    document.getElementById("nextpagelink").href="check-ce-3.html";
  };
  function routeNo() {
    document.getElementById("nextpagelink").href="#";
  };
  </script>

{% endblock %}
