{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            <br>Call logged
          </h1>
          <div class="govuk-panel__body">

          </div>
        </div>


        <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">
          Continue to contact the claimant until you've confirmed if they currently have a carer who gets Carer Element.
        </p>

        <p class="govuk-body">
          <a href="check-ce-call-logged-hub" class="govuk-link">Back to claimant information</a>
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}
