{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}



  <div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="case-header">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ123456
  </h1>
<strong class="govuk-tag">check eligibility</strong>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  <hr>

  <h3 class="govuk-heading-s">Last payment activity</h3>

  <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <span class="bold-xxlarge">£2,160</span>
            <span class="data-item bold-xsmall">lump sum payment</span>
          </div>
    </div>

    <!-- <br>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View calculation
        </span>
      </summary>

      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Claim live</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Couple status changed</th>
              <td class="govuk-table__cell">No</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Group</th>
              <td class="govuk-table__cell">LCWRA</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">AP since first claim date</th>
              <td class="govuk-table__cell">27</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Rate</th>
              <td class="govuk-table__cell">£80</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Lump sum</th>
              <td class="govuk-table__cell">£2,160</td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
 -->

  <hr>

          <h3 class="govuk-heading-l">Check eligibility for ongoing payments</h3>

      <p class="govuk-body">You need to check if the claimant can get an ongoing payment.</p>

      <a href="ongoing-check-eligible-1"><button type="submit" class="govuk-button">
Check eligibility
      </button></a>



<p class="govuk-body govuk-!-margin-top-8"></p>

            <div class="govuk-tabs" data-module="tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-top-6"></p>
            <div class="app-related-items">
  <h2 class="govuk-heading-s">
    Account actions
  </h2>
  <ul class="govuk-list govuk-body-s">
      <li><a href="#" class="govuk-link">Log a query</a></li>
      <li><a href="work-list" class="govuk-link">View work list</a></li>
      <li><a href="ongoing-payment-history" class="govuk-link">View payment history</a></li>
  </ul>

  <p class="govuk-body govuk-!-margin-top-6"></p>
  <h2 class="govuk-heading-s">Timeline</h2>
  <div class="timeline">

    <span class="line"></span>
    <div class="timeline__event">
      <span class="timeline__title">Claimant notified of lump sum payment</span>
      <p class="timeline__date">9 October 2018</p>
      <span class="govuk-body govuk-!-font-size-14">Simon Johnson</span>
      <p class="govuk-body govuk-!-margin-top-2"></p>
      </p>
    </div>

    <span class="line"></span>
    <div class="timeline__event">
      <span class="timeline__title">Payment authorised</span>
      <p class="timeline__date">5 October 2018</p>
      <span class="govuk-body govuk-!-font-size-14">Simon Johnson</span>
      <p class="govuk-body govuk-!-margin-top-2"></p>
        <p class="govuk-body-s">CPS ref: C123D4TF</p>
      </p>
    </div>

    <span class="line"></span>
    <div class="timeline__event">
      <span class="timeline__title">Payment for £2,160 requested</span>
      <p class="timeline__date">3 October 2018</p>
      <span class="govuk-body govuk-!-font-size-14">John Goldsmith</span>
      <p class="govuk-body govuk-!-margin-top-2"></p>
      </p>
    </div>


    <span class="line"></span>
    <div class="timeline__event">
      <span class="timeline__title">Eligibility checked</span>
      <p class="timeline__date">26 September 2018</p>
      <span class="govuk-body govuk-!-font-size-14">John Goldsmith</span>
      <p class="govuk-body govuk-!-margin-top-2"></p>
      </p>
    </div>


    <span class="line"></span>
    <div class="timeline__event">
      <span class="timeline__title">Contacted claimant</span>
      <p class="timeline__date">3 September 2018</p>
      <span class="govuk-body govuk-!-font-size-14">John Goldsmith</span>
      <p class="govuk-body govuk-!-margin-top-2"></p>
      <p class="govuk-body-s">Confirmed no carers element.</p>
    </div>



    <div style="clear:both"></div>
  </div>
</div>

</ul>


        </div>

      </div>

    </main>
  </div>



{% endblock %}
