{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}



  <div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="case-header">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ123456
  </h1>
<strong class="govuk-tag">check carer element</strong>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  <hr>

          <h3 class="govuk-heading-l">Contact the claimant</h3>

      <p class="govuk-body">You must contact the claimant and ask if they currently have a carer who gets the Carer Element of Carer's Allowance.</p>
      <a href="check-ce-1"><button type="submit" class="govuk-button">
        Contact claimant
      </button></a>



<p class="govuk-body govuk-!-margin-top-8"></p>

            <div class="govuk-tabs" data-module="tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-top-6"></p>
            <div class="app-related-items">
  <h2 class="govuk-heading-s">
    Account actions
  </h2>
  <ul class="govuk-list govuk-body-s">
      <li><a href="ce-call-logged-decision-history" class="govuk-link">Decision history</a></li>
      <li><a href="work-list" class="govuk-link">View work list</a></li>
  </ul>


    <p class="govuk-body govuk-!-margin-top-6"></p>
    <h2 class="govuk-heading-s">Timeline</h2>
    <div class="timeline">

      <span class="line"></span>
      <div class="timeline__event">
        <span class="timeline__title">Attempted to contact claimant</span>
        <p class="timeline__date">3 September 2018</p>
        <span class="govuk-body govuk-!-font-size-14">John Goldsmith</span>
        <p class="govuk-body govuk-!-margin-top-2"></p>
        <p class="govuk-body-s">Telephone number called: <br>07888 231234</p>
      </div>



      <div style="clear:both"></div>
    </div>
  </div>

  </ul>


          </div>

        </div>

      </main>
    </div>



{% endblock %}
