{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            <br>Eligiblity confirmed and recorded
          </h1>
          <div class="govuk-panel__body">
The claimant is not eligible for SDP as they aren't getting Universal Credit payments
          </div>
        </div>


        <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">
          You need to create a letter to notify the claimant, and upload it to their journal.
        </p>

        <p class="govuk-body">
          <a href="notify-claimant-not-eligible-nouc-hub" class="govuk-link">Back to claimant information</a>
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}
