{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<a href="work-list" class="govuk-back-link">Back</a>

  <div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="case-header">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ123456
  </h1>
  <strong class="govuk-tag">payment raised</strong>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  <hr>
          <h3 class="govuk-heading-m">Last account activity</h3>

          <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-quarter">
                    <span class="bold-xxlarge">£2,160</span>
                    <span class="data-item bold-xsmall">payment raised</span>
                  </div>
            </div>
              <p class="govuk-body govuk-!-margin-top-3"></p>
            <a href="check-eligible"><button type="submit" class="govuk-button">
              Check and authorise payment
            </button></a>



        </div>

        <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-top-6"></p>
            <div class="app-related-items">
  <h2 class="govuk-heading-s">
    Account actions
  </h2>
  <ul class="govuk-list govuk-body-s">

    <ul class="govuk-list govuk-body-s">
        <li><a href="/contact" class="govuk-link">Log a query</a></li>
        <li><a href="work-list" class="govuk-link">View work list</a></li>
    </ul>


  </ul>
</div>

</ul>


        </div>

      </div>

    </main>
  </div>



{% endblock %}
