{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h2 class="govuk-panel__title">Decision rejected</h2>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>You will need to send a copy of the AR1 form to the claimant.
        You will also need to update any relevant details for this claimant in PIPCS.</p>

      <a class="govuk-button" href="details" role="button">
        Review another award
      </a>

    </div>
  </div>

{% endblock %}
