
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Pay SDP
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        There are two versions of this prototype, one just for ongoing payment processing, and one also including the initial process for calculating and paying a lump sum.</p>

      <h2 class="govuk-heading-m">Versions</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="sign-in-ongoing.html">Ongoing payments</a></li>
        <li>Lump sum and ongoing payments</li>
      </ul>

    </div>
</div>

{% endblock %}
