{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<a href="notify-claimant-not-eligible-leftcouple-hub" class="govuk-back-link">Back</a>

  <div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="case-header">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ123456
  </h1>
<strong class="govuk-tag">notify - not eligible</strong>
<hr>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h2 class="govuk-fieldset__heading">
      Decision history
    </h2>
  </legend>

<p class="govuk-body govuk-!-margin-top-150"></p>

<p class="govuk-body govuk-!-margin-top-4"></p>
<span class="govuk-caption-m">5 September</span>
<h3 class="govuk-heading-m">Eligibility checked</h3>
<table class="govuk-table"  width="400" border="0">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">
Has the claimant joined or left a couple</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
</table>

<p class="govuk-body govuk-!-margin-top-4"></p>
<span class="govuk-caption-m">4 September</span>
<h3 class="govuk-heading-m">Eligibility checked</h3>
<table class="govuk-table"  width="400" border="0">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">
Is UC claim live</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
</table>

<p class="govuk-body govuk-!-margin-top-4"></p>
<span class="govuk-caption-m">3 September</span>
<h3 class="govuk-heading-m">Carers element checked</h3>
<table class="govuk-table"  width="400" border="0">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">
Claimant has carer who gets carers element</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
</table>

<p class="govuk-body govuk-!-margin-top-4"></p>
<span class="govuk-caption-m">1 September</span>
<h3 class="govuk-heading-m">Inital checks</h3>
<table class="govuk-table"  width="400">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Couple status</th>
      <td class="govuk-table__cell">Single</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">SDP</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">PIP (standard living)</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">AFIP</th>
      <td class="govuk-table__cell">No</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">DLA (middle or higher)</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">AA or CAA paid with IIDB or WP</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
  </tbody>
</table>


  </div>

</div>


</div>

      </div>

    </main>
  </div>



{% endblock %}
