{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<a href="notify-claimant-1" class="govuk-back-link">Back</a>

  <div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="case-header">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ123456
  </h1>
<strong class="govuk-tag">notify of single payment</strong>
<hr>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-fieldset__heading">
      What's the claimant's full address in Universal Credit?
    </h2>
  </legend>

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          </legend>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
              Building and street
              <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
              County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
          </div>

        </fieldset>



      </div>
    </div>

  </main>
</div>

</form>
</div>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="letter-preview-notify">Preview letter</a>
  </li>
</ul>

<a href="notify-claimant-3" id="nextpagelink">
<button class="govuk-button">Generate letter PDF</button>
</a>
      </div>

    </main>
  </div>

  <script type="text/javascript">
  function routeYes() {
    document.getElementById("nextpagelink").href="authorise-payment-2.html";
  };
  function routeNo() {
    document.getElementById("nextpagelink").href="#";
  };
  </script>

{% endblock %}
