{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


  <div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="case-header">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ123456
  </h1>
<strong class="govuk-tag">notify - not eligible</strong>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  <hr>

          <h3 class="govuk-heading-l">Tell the claimant</h3>

      <p class="govuk-body">Claimant is not eligible for SDP.</p>

        <p class="govuk-body">You need to create a letter to upload to the claimants journal. </p>

      <a href="ongoing-notify-claimant-not-eligible-1"><button type="submit" class="govuk-button">
        Create a letter
      </button></a>



<p class="govuk-body govuk-!-margin-top-8"></p>

            <div class="govuk-tabs" data-module="tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-top-6"></p>
            <div class="app-related-items">
  <h2 class="govuk-heading-s">
    Account actions
  </h2>
  <ul class="govuk-list govuk-body-s">
      <li><a href="ongoing-payment-decision-nouc-history" class="govuk-link">Decision history</a></li>
      <li><a href="work-list" class="govuk-link">View work list</a></li>
  </ul>

  <p class="govuk-body govuk-!-margin-top-6"></p>
  <h2 class="govuk-heading-s">Timeline</h2>
  <div class="timeline">

    <span class="line"></span>
    <div class="timeline__event">
      <span class="timeline__title">Claimant eligibility checks made</span>
      <p class="timeline__date">10 October 2018</p>
      <span class="govuk-body govuk-!-font-size-14">Simon Johnson</span>
      <p class="govuk-body govuk-!-margin-top-2"></p>
      <p class="govuk-body-s">Claimant not eligible for SDP ongoing payment</p>
      </p>
    </div>



        <span class="line"></span>
        <div class="timeline__event">
          <span class="timeline__title">Claimant notified of lump sum payment</span>
          <p class="timeline__date">9 October 2018</p>
          <span class="govuk-body govuk-!-font-size-14">Simon Johnson</span>
          <p class="govuk-body govuk-!-margin-top-2"></p>
          </p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <span class="timeline__title">Payment authorised</span>
          <p class="timeline__date">5 October 2018</p>
          <span class="govuk-body govuk-!-font-size-14">Simon Johnson</span>
          <p class="govuk-body govuk-!-margin-top-2"></p>
            <p class="govuk-body-s">CPS ref: C123D4TF</p>
          </p>
        </div>

        <span class="line"></span>
        <div class="timeline__event">
          <span class="timeline__title">Payment for £2,160 requested</span>
          <p class="timeline__date">3 October 2018</p>
          <span class="govuk-body govuk-!-font-size-14">John Goldsmith</span>
          <p class="govuk-body govuk-!-margin-top-2"></p>
          </p>
        </div>


        <span class="line"></span>
        <div class="timeline__event">
          <span class="timeline__title">Eligibility checked</span>
          <p class="timeline__date">26 September 2018</p>
          <span class="govuk-body govuk-!-font-size-14">John Goldsmith</span>
          <p class="govuk-body govuk-!-margin-top-2"></p>
          </p>
        </div>


        <span class="line"></span>
        <div class="timeline__event">
          <span class="timeline__title">Contacted claimant</span>
          <p class="timeline__date">3 September 2018</p>
          <span class="govuk-body govuk-!-font-size-14">John Goldsmith</span>
          <p class="govuk-body govuk-!-margin-top-2"></p>
          <p class="govuk-body-s">Confirmed no carers element.</p>
        </div>



    <div style="clear:both"></div>
  </div>
</div>

</ul>


        </div>

      </div>

    </main>
  </div>



{% endblock %}
