{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<a href="ongoing-raise-payment-1" class="govuk-back-link">Back</a>

  <div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="case-header">

  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ123456
  </h1>
<strong class="govuk-tag">raise monthly payment</strong>
<hr>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-fieldset__heading">
      Raise a monthly payment in CPS
    </h2>
  </legend>

<p class="govuk-body govuk-!-margin-top-2"></p>

<p class="govuk-body">To pay the claimant £80 you'll need:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>The claimants bank details from ???</li>
  <li>The name of your CPS authoriser</li>
</ul>

<a href="ongoing-raise-payment-3" id="nextpagelink">
  <button class="govuk-button">Record payment raised</button>
</a>
      </div>

    </main>
  </div>


{% endblock %}
