{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}

<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#lump-sum-payments">
        Lump sum payments
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#ongoing-payments">
        Ongoing payments
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="lump-sum-payments">
    <h2 class="govuk-heading-l">Lump sum payments</h2>
    <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header" scope="col">Claimant ID</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Payment status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">11223344</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle teal"></span>Checks required</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">55667788</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle teal"></span>Checks required</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">99101011</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle red"></span>Eligible</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">12131415</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle red"></span>In payment</td>
    </tr>
  </tbody>
</table>

  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ongoing-payments">
    <h2 class="govuk-heading-l">Ongoing payments</h2>
    <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header" scope="col">Claimant ID</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Payment status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">11223344</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle teal"></span>Checks required</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">55667788</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle teal"></span>Checks required</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">99101011</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle red"></span>Eligible</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">121314151</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle red"></span>In payment</td>
    </tr>
  </tbody>
</table>

  </section>
</div>

{% endblock %}
