{% extends "layout.html" %}

{% block pageTitle %}
  Lump sum payments
{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">
    Lump sum payments
  </h2>

    <table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-table__header" scope="col">Claimant ID</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Payment status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">11223344</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle teal"></span>Checks required</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">55667788</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle teal"></span>Checks required</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">99101011</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle red"></span>Eligible</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell">121314151</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle red"></span>In payment</td>
    </tr>
  </tbody>
</table>

  </section>
</div>

{% endblock %}
