{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block content %}
<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Customer ID</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Predicted overall score</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="claimant-info" class="govuk-link govuk-link--no-visited-state">JC 1234</a></th>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle red"></span>High priority</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">24</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">JC 1234</a></th>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle red"></span>High priority</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">24</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">JC 1234</a></th>
      <td class="govuk-table__cell govuk-table__cell"><span class="circle teal"></span>Low priority</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">24</td>
    </tr>
  </tbody>
</table>



{% endblock %}
